<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}-->
<!--<!DOCTYPE html>


<html>
    <head>

    </head>
    <body>
        <h2>Input Felder für die Anmeldung</h2>

        <Login Form
        TBZ-Email: <input id="user-id" class="input" name="username" type="text">
        <br>
        Passwort: <input id="pw-id" class="input" name="password" type="password">
        <br>
        <button id="login-btn" class="login-form-btn">
            Log In
        </button>
        <br>

        <h2>Bitte no de ganzi rescht wegneh, ka wie des gohd...</h2>
    </body>
</html>-->
