@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Anmeldung Sporttag";
}

@*<form class="" method="post">*@
<!--action="login.do" -->

<div class="div-padding-btm">
    <span>
        Foobar
        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
    </span>
</div>

<h2>1. Wahl</h2>

<div class="div-padding-btm">
    <ul id="erste_wahl">
        <li>
            <input type="checkbox" id="cb1_1" class="erste_wahl" />
            <label for="cb1_1"><img src="~/Content/Images/ski_snowboard.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb1_2" class="erste_wahl" />
            <label for="cb1_2"><img src="~/Content/Images/ski.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb1_3" class="erste_wahl" />
            <label for="cb1_3"><img src="~/Content/Images/biathlon.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb1_4" class="erste_wahl" />
            <label for="cb1_4"><img src="~/Content/Images/langlauf.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb1_5" class="erste_wahl" />
            <label for="cb1_5"><img src="~/Content/Images/schneeschuhlaufen.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb1_6" class="erste_wahl" />
            <label for="cb1_6"><img src="~/Content/Images/hockey_chneble.jpg" /></label>
        </li>
    </ul>
</div>

<h2>2. Wahl</h2>
<div class="div-padding-btm">
    <ul id="zweite_wahl">
        <li>
            <input type="checkbox" id="cb2_1" class="zweite_wahl" />
            <label for="cb2_1"><img src="~/Content/Images/ski_snowboard.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb2_2" class="zweite_wahl" />
            <label for="cb2_2"><img src="~/Content/Images/ski.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb2_3" class="zweite_wahl" />
            <label for="cb2_3"><img src="~/Content/Images/biathlon.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb2_4" class="zweite_wahl" />
            <label for="cb2_4"><img src="~/Content/Images/langlauf.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb2_5" class="zweite_wahl" />
            <label for="cb2_5"><img src="~/Content/Images/schneeschuhlaufen.jpg" /></label>
        </li>
        <li>
            <input type="checkbox" id="cb2_6" class="zweite_wahl" />
            <label for="cb2_6"><img src="~/Content/Images/hockey_chneble.jpg" /></label>
        </li>
    </ul>
</div>

<div class="container-btn">
    <button id="BtnAnmeldung" name="anmeldung" class="btn btn-default">
        Anmeldung abschicken
    </button>
</div>
@*</form>*@
